<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <div class="container">
        <div class="row">
            <% results.forEach(function(result) { %> 
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="<%= result.image %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= result.title %> </h5>
                        <a href="https://google.com/search?q=<%= result.title %>" target="_blank">Find Recipe</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <br><br><br><br><br>
</main>

<%- include ('../partials/footer') %>
